.light,
.light * {
    color: #000;
    background-color: #fff;
}

.dark,
.dark * {
    color: #fff;
    background-color: #000;
}

.clear-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.controls-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.color-switcher {
    flex: 0 0 50%;
    justify-content: right;
}

.toggle-enabled-button {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
}

body {
    margin: 0;
}

.container {
    padding: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 280px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    text-align: inherit;
}

tr>td:last-of-type {
    text-align: center;
}
