.light,
.light * {
    color: #000;
    background-color: #fff;
}

.dark,
.dark * {
    color: #fff;
    background-color: #000;
}

.clear-button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.color-switcher {
    margin-bottom: 10px;
}

.container {
    padding: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 280px;
}

body {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-height: 24px;
}

th {
    font-weight: bold;
    text-align: inherit;
}

tr > td:last-of-type {
    text-align: center;
}

tr>td:last-of-type {
    text-align: center;
}